@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'EB Garamond';
    src: url('../app/assets/fonts/EB_Garamond/static/EBGaramond-ExtraBold.ttf');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Varta';
    src: url('../app/assets/fonts/Varta/static/Varta-Regular.ttf');
    font-weight: normal;
    font-display: swap;
}


:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    font-family: 'Varta', serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    overscroll-behavior-y: none;

}

.scroll-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    will-change: transform;
}

input, h1, h2 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100%;
    height: auto;
    width: 254.2px; /* Default size for larger screens */
}

/* Media query for smaller screens */
@media (max-width: 1440px) {
    .logo {
        width: 180px;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 100px;
    }
}
.custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    overflow: hidden; /* Hide dots that overflow */
    position: relative;
    transition: transform 0.3s ease-in-out; /* Smooth sliding effect */
}
.custom-pagination-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    overflow: hidden; /* Hide dots that overflow */
    position: relative;
    transition: transform 0.3s ease-in-out; /* Smooth sliding effect */
}
.custom-pagination .swiper-pagination-bullet {
    width: 12.8px; /* Default dot size */
    height: 12.8px;
    background-color: #b0bec5; /* Light gray color for inactive dots */
    border-radius: 50%; /* Makes dots circular */
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth size/color transition */
}
.custom-pagination-2 .swiper-pagination-bullet {
    width: 12.8px; /* Default dot size */
    height: 12.8px;
    background-color: #b0bec5; /* Light gray color for inactive dots */
    border-radius: 50%; /* Makes dots circular */
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth size/color transition */
}

.custom-pagination .swiper-pagination-bullet-active {
    width: 32px; /* Larger size for the active dot */
    height: 12.8px;
    border-radius: 16px;
    background-color: #1a202c; /* Darker color for the active dot */
}
.custom-pagination-2 .swiper-pagination-bullet-active {
    width: 32px; /* Larger size for the active dot */
    height: 12.8px;
    border-radius: 16px;
    background-color: #1a202c; /* Darker color for the active dot */
}
